<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/profile.css">
</head>
<body>
    <div class="nav">
        
        <h2>OMRAJE</h2>
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact Me</a></li>
    </ul>
    </div>
<div class="pop">
    <% if(success != '') { %> 
    <div class="alert alert-primary" role="alert">
        <strong>Success !</strong><%= success %>
      </div>
</div>
<% } %>
    <div class="intro">
        <div class="hi" data-aos="zoom-out">
        <h1>👋 Hi all I'm</h1>
        <h1>OMRAJE PATIL</h1>
        <p><span id="element"></span></p>

        <a href="#form"><button>CONTACT ME</button></a>
       
    </div>

    <div data-aos="zoom-out">
        <img src="images/bg.jpg" alt="">
    </div>
    </div>
    <hr>


    <div class="about">
        <img src="images/about.png" alt="">

    <div class="text">
            <h2>ABOUT ME</h2>
        <p>Hey there! I'm a 3rd year Computer Engineering undergrad, currently exploring the dynamic realms of the MERN Stack! From MongoDB to React, Node.js, every line of code I write fuels my passion for innovation.  Dedicated to crafting scalable solutions and driving meaningful change. Constantly learning and embracing challenges, I'm on a journey to redefine boundaries. <br>🌟LET'S COLLABORATE & THRIVE TOGETHER! 🌟</p>
        <button><a href="https://drive.google.com/file/d/17nNY5mNy3MlKxtNL9p4ou9FYbmGV9mDy/view?usp=drive_link">Download Resume</a> </button>
    </div>
    </div>

    <hr>

    <div class="skill">
        <img src="images/skill.png" alt="">

        <div class="web">
            <img src="images/html.webp" alt="">

            <div class="dsa">
                <img src="images/c++.webp" alt="">
                <img src="images/python.png" alt="">
                <img src="images/java.png" alt="">
            </div>
        </div>
    </div>


    <hr>

    <div class="form" id="form">

        <form action="/contact" method="post" class="contact">
            <h3>CONTACT US</h3>
            <input type="text" name="name" placeholder="Name" id="name">
             <input type="email" name="email" id="" placeholder="Email" id="email">
            <input type="text" name="message" placeholder="Message" id="message">  
            <button type="submit">Submit</button>
        </form>

        <img src="images/contact.webp" alt="">
    </div>

    <hr>

    <div class="footer">
        <p>Get Connect us on Social Network</p>

        <div class="img">
        <img src="images/facebook.png" alt="">
        <img src="images/gmail.png" alt="">
        <img src="images/insta.png" alt="">
        <img src="images/twitter.png" alt="">

    </div>
    </div>



    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
    var typed = new Typed('#element', {
      strings: ['JavaScript','Reactjs' ,'Nodejs','React Native'],
      typeSpeed: 100,
    });

    




  </script>
</body>
</html>